.filters {
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 90%;
}

.search-items {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.locations,
.amenities {
    height: 100%;
    width: 50%;
    margin-left: 60px;
    line-height: 0;
    cursor: pointer;
}

.locations {
    border-right: #DDDDDD 1px solid;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 25px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    width: 100%;
    background-color: #FAFAFA;
    border: 1px #DDDDDD solid;
    list-style: none;
    display: none;
    padding: 30px;
    margin-left: -61px;
    border-radius: 4px;
    position: relative;
    margin-top: 26px;
}

.state {
    margin-bottom: 40px;
}

.cities {
    list-style: none;
    margin-bottom: 20px;
}

.amenities:hover .popover,
.locations:hover .popover {
    display: block;
}
